// colors
$mygreen: #4a6054;
$mybeige: #c4bdb5;

// heading
h1 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
h3,
h4,
h5,
p {
  font-family: "Montserrat", sans-serif;
}
h5 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

body {
  background-color: $mygreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-x: hidden;
}

main {
  position: relative;
  background-color: $mybeige;
  width: 80vw;
  height: auto;
  padding: 20px;
  margin: auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.logoDiv {
  display: flex;
  align-items: center;
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .titleDiv {
    h1 {
      margin: 0px;
    }
    h4 {
      margin: 0px;
    }
  }
  img {
    width: 100px;
    vertical-align: middle;
  }
}

header {
  nav {
    ul {
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        margin: 0px 10px;

        a {
          text-decoration: none;
          font-family: "Oswald", sans-serif;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $mygreen;
          -webkit-animation: tracking-in-expand 0.7s
            cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
            both;

          &:hover {
            color: #666;
          }
        }
      }
    }
  }
}

.home {
  display: flex;
  width: 80vw;

  .countDownSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    .countDownDiv {
      display: flex;
      .countDown {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 5px;

        h4 {
          margin: 0px;
        }

        p {
          text-transform: uppercase;
        }
      }
    }
  }

  img {
    position: absolute;
    width: 300px;
    bottom: 0px;
    right: 0px;
  }
}

.Experience {
  display: flex;
  justify-content: space-around;

  .expDiv {
    display: flex;
    flex-direction: column;
  }
}

.Experience {
  display: flex;
  justify-content: space-around;

  .expDiv {
    display: flex;
    flex-direction: column;
  }
}

.Education {
  display: flex;
  justify-content: space-around;

  .eduDiv {
    display: flex;
    flex-direction: column;
  }

  img {
    position: absolute;
    width: 300px;
    bottom: 0px;
    right: 0px;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  .flexDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;

    .flexItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      padding: 10px;
      margin: 10px;
      width: 24vw;
      display: flex;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      -webkit-animation: scale-up-center 0.4s
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

      img {
        width: 15vw;
        border: 1px solid rgba(147, 147, 147, 0.5);
        margin: 10px 0px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
      }

      .icons {
        font-size: 30px;
        a {
          color: $mygreen;
          margin: 0 0.5rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  svg {
    color: black;
    font-size: 30px;
    margin: 0px 5px;
  }
}

@media screen and (max-width: 780px) {
  li {
    font-size: 12px;
  }

  .home {
    .iconWave {
      width: 50vw;
    }
  }

  .portfolio {
    .flexDiv {
      .flexItem {
        width: 70vw;
        margin: 10px 0px;
        img {
          width: 60vw;
        }
      }
    }
  }
}

// animations

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
